<div class="w-75" style="margin:auto">
	<div class="container-fluid" style="display:flex;">
	
	
		<div class="col-8 card border-0  shadow-sm p-3 mb-5 bg-white rounded">  
			<div data-ng-include="'views/consulentiAttivi.html'"> </div>
		
		
		 
			<div data-ng-include="'views/consulentiDisponibili.html'"> </div>
		</div>
		
	
	
	<div class="col">
	
	<div class="float-right" style="width:100%">
		
		<div class="card border-0  shadow-sm  bg-white text-dark rounded " id = "changePadding" > 
				<div data-ng-include="'views/contratti.html'"></div>
		</div>
			
		<div class="card border-0   shadow-sm  bg-white text-dark rounded " >
				<div data-ng-include="'views/presentazioni.html'"></div>
		</div>
	</div>
	</div>
</div>
</div>
