<div ng-controller="presentazioni">

	<h3 class="card-header text-white text-center" style="background-color: #333;    font-weight: normal;">
		 Presentazione in corso 
	</h2>

	<div class="list-group listgroup">
		<a class="list-group-item list-group-item-action" ng-click="apriPresentazione()">Donato Rimenti</a> <a
			class="list-group-item list-group-item-action" ng-click="apriPresentazione()">Jocelyn
			Suarez </a> <a
			class="list-group-item list-group-item-action" ng-click="apriPresentazione()">Flavio
			Scocca</a> <a
			class="list-group-item list-group-item-action" ng-click="apriPresentazione()">Giovanni
			Pagano </a> <a
			class="list-group-item list-group-item-action" ng-click="apriPresentazione()">Lorenzo
			Amprino</a>

	</div>
</div>