<div ng-controller="presentazioniIncorso">

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID Dipendente</th>
      <th scope="col">Nome Dipendente</th>
      <th scope="col">ID Azienda</th>
      <th scope="col">Nome Azienda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" data-ng-bind="idDipendente"></th>
      <td data-ng-bind="nomeDipendente"></td>
      <td data-ng-bind="idAzienda"></td>
      <td data-ng-bind="nomeAzienda"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>